In [40]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns

In [41]:
df = pd.read_csv('Data/G.csv')
df.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df.shape

(9835, 33)

In [43]:
df.values[2,2]

nan

In [44]:
#from mlxtend.frequent_patterns import association_rules, apriori

In [45]:
trans = []
for i in range(0, 5000):
  trans.append([str(df.values[i,j]) for j in range(1, 33)])

In [46]:
from apyori import apriori
rules = apriori(transactions = trans, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [47]:
print(rules)

<generator object apriori at 0x000001D32DF759A0>

In [48]:
output = list(rules) # returns a non-tabular output
# putting output into a pandas dataframe
def inspect(output):
    lhs         = [tuple(result[2][0][0])[0] for result in output]
    rhs         = [tuple(result[2][0][1])[0] for result in output]
    support    = [result[1] for result in output]
    confidence = [result[2][0][2] for result in output]
    lift       = [result[2][0][3] for result in output]
    return list(zip(lhs, rhs, support, confidence, lift))
result = pd.DataFrame(inspect(output), columns = ['Left_Hand_Side', 'Right_Hand_Side', 'Support', 'Confidence', 'Lift'])

In [49]:
result.head()

  Left_Hand_Side     Right_Hand_Side  Support  Confidence      Lift
0  baking powder       domestic eggs   0.0040    0.208333  3.147029
1  baking powder               sugar   0.0048    0.250000  6.830601
2  baking powder  whipped/sour cream   0.0064    0.333333  4.385965
3        berries  whipped/sour cream   0.0088    0.287582  3.783970
4         liquor        bottled beer   0.0042    0.396226  4.716981

In [50]:
result.nlargest(n = 10, columns = 'Lift')

      Left_Hand_Side     Right_Hand_Side  Support  Confidence      Lift
9              flour               sugar   0.0054    0.296703  8.106647
15  processed cheese         white bread   0.0048    0.315789  7.483163
1      baking powder               sugar   0.0048    0.250000  6.830601
13               ham         white bread   0.0054    0.204545  4.847049
4             liquor        bottled beer   0.0042    0.396226  4.716981
2      baking powder  whipped/sour cream   0.0064    0.333333  4.385965
8              flour           margarine   0.0046    0.252747  3.999165
14     roll products           margarine   0.0030    0.250000  3.955696
11           mustard         frankfurter   0.0032    0.242424  3.935458
3            berries  whipped/sour cream   0.0088    0.287582  3.783970